/*
By Pat Farnach
Fonts by FontAwesome, Erik Flowers (Weather icons), and Google Fonts
*/

/* title */
.page-title h1 {
	font-family: 'Eater', cursive;
	text-align: center;
}

.page-title i {
	font-size: 7rem;
	margin-right: 1rem;
}

.page-title p {
	font-size: 1.2rem;
	margin-top: 2rem;
	text-align: center;
	opacity: 0.6;
}

.page-title p a {
	text-decoration: none;
	color: black;
}

/* info */
.info-tab {
	position: absolute;
	right: 10px;
	top: 10px;
}

.info-tab a {
	text-decoration: none;
	color: rgba(0,0,0,0.2);
	transition: -webkit-transform .5s ease, color .5s ease;
	transition: transform .5s ease, color .5s ease;
}

.info-tab a:hover,
.info-tab a:focus {
	color: black;
	-webkit-transform: rotateZ(360deg); /* Chrome, Safari, Opera */
     transform: rotateZ(360deg);
}

.info-tab a i {
	font-size: 3rem;
}

/* search */
.search-wrapper {
	width: 35rem;
	margin: 50px auto 10px;
}

#welcome-msg-wrapper {
	margin: 0 auto;
	width: 70%;
}


/*welcome message*/
#welcome-msg,
#not-found-msg {
	margin-top: 10rem;
	text-align: center;
}

#welcome-msg-info {
	margin-top: 4rem;
	text-align: center;
}

/*CURRENTLY*/

.icon-summary-wrapper i {
	margin: 0 auto;
}

.currently .current-icon {
	padding: 2rem 0;
	margin: 0 auto;
	font-size: 8rem;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.currently .current-summary {
	padding-top: 1rem;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.currently .current-temp-wrapper {
	font-size: 2rem;
}


/*LATER*/

.later .later-icon {
	padding: 2rem 0;
	margin: 0 auto;
	font-size: 8rem;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.later .later-summary {
	padding-top: 1rem;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
}

.later .later-temp-wrapper {
	font-size: 2rem;
}


/*HOURLY*/

.hourly {
	margin: 0 15px 15px 15px;
}

.hour-section * {
	margin: 10px auto;
	text-align: center;
}

.hour-section i[class*="icon"] {
	display: inline-block;
	width: 100%;
	font-size: 4rem;
}

.hour-section h3 {
	margin-top: 0;
	font-weight: bold;
}

.hour-section i.wi-thermometer {
	font-size: 2.5rem;
}

.hour-section i.wi-umbrella {
	font-size: 1.7rem;
}


/*FORECAST*/

.forecast {
	margin: 0 15px;
}

.forecast-section * {
	margin: 10px auto;
	text-align: center;
}

.forecast-section h3 {
	font-weight: bold;
}

.forecast-section p {
	margin: 0;
}

.forecast-section i[class*="icon"] {
	margin: 20px 0;
	display:inline-block;
	width: 100%;
	font-size: 4rem;
}

.forecast-section i.wi-thermometer {
	font-size: 2.5rem;
}

.forecast-section i.wi-umbrella {
	font-size: 1.7rem;
}


/*MISC*/

button.minimize {
	float: right;
	color: #333333;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2rem;
	line-height: 2.5rem;
	padding-top: 0;
	margin-top: 0;
	box-sizing: border-box;
}



